header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--primary-color);
	padding-inline: var(--spacing-md);
}

header a {
	text-decoration: none;
	color: var(--link-header);
}

header .logo {
	font-size: var(--font-size-xl);
	font-style: italic;
	font-family: var(--font-family-heading);
}
