:root {
	--primary-color: #355e3b;
	--secondary-color: #7b3f00;
	--bg-color: #dfd8cd;
	--text: #333333;
	--link: #dfd8cd;
	--highlight: #305030;
}




/* -------- GLOBAL -------- */

html {
	padding: 0;
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
	align-content: space-between;
	min-height: 100vh;
	padding: 0;
	margin: 0;
	background-color: var(--bg-color);

}

a {
	text-decoration: none;
}

/* --------  HEADER -------- */

header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid black;
	height: 64px;
	background-color: var(--primary-color);

}

header #logo {
	color: --text-white;
	padding-inline: 1em;
	font-weight: bolder;
	font-family: serif;
	font-style: italic;
	font-size: 3em;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}

header a {
	color: var(--link);
}

nav {
	display: flex;
	flex-direction: row;
	font-size: 1.3em;
	height: auto;
	align-items: stretch;
}

nav ul {
	display: flex;
	list-style: none;
	align-items: stretch;
	justify-content: left;
	padding-inline: 1em;
	gap: 1em;
}

nav ul li {
	align-items: center;
	overflow: hidden;

}

nav ul li a {
	display: block;
	height: 100%;
	padding: 1em 1em;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}

nav ul li a:hover {
	background-color: var(--highlight);

}
/* -------- MAIN -------- */

main {
	flex: 1;
	margin-inline: 10%;
	margin: auto;
}

main section {
	width: 30em;
	color: var(--text);
	margin-inline: auto;
	margin-block: 1em;
	text-align: justify;
	border: 1px solid black;
	padding: 0.5em;
	box-shadow: 10px 10px 10px rgba(0,0,0,0.15);
	border-radius: 3px;
}

/* -------- FOOTER -------- */
footer {
	margin-top: auto;
 	display: flex;
 	flex-direction: row;
 	align-content: center;
 	justify-content: center;
}
